[submodule "docs/themes/poison"]
	path = docs/themes/poison
	url = https://github.com/lukeorth/poison
[submodule "docs/themes/ananke"]
	path = docs/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
